:root {
  --color: rgba(0,0,0,0.85);
  --background: #f5f5f5;
  --border: #d3d3d3;
  --transparent: transparent;
  --opacity-color: rgba(0,0,0,0.5);
  --opacity-bg: rgba(255,255,255,0.7);
  --box-shadow: 0px 12px 24px rgba(47, 47, 47, 0.2);
  --box-shadow-inset: inset 0px 5px 10px 2px rgba(47, 47, 47, 0.2);
  --smoll-box-shadow: 0px 5px 10px 2px rgba(47, 47, 47, 0.2);
  --smoll-box-shadow-inset: inset 0 2px 10px 0 rgba(47, 47, 47, 0.2);
  --tiny-box-shadow: 0px 0px 5px rgba(47, 47, 47, 0.2);
  --checkbox-shadow: 0px 2px 5px rgba(47, 47, 47, 0.2);
  --checkbox-shadow-inset: inset 0px 2px 5px rgba(47, 47, 47, 0.2);
  --checkbox-shadow-checked: 0px -2px 5px rgba(47, 47, 47, 0.2);
  --subcolor: #657ef8;
  --thumb-bg: rgba(0, 0, 0, 0.25);
  --thumb-border: 4px solid transparent;
  --thumb-hover-bg: #e1e1e1;
  --hr-bg: #d3d3d3;
  --header-bg: #ffffff;
  --header-border: solid 1px #f5f5f5;
  --header-btns-bg: #dedede;
  --progbar-shadow: 0px 0px 100px #f5f5f5;
  --subcolor-opacity: rgba(101, 126, 248, 0.5);
  --interact-color: #00C864;
  --import-error: #ff4444;
  --text-shadows: #000000;
  --hbt-text: '🌞';
  --icon: url("../../textures/icon_dark.png");
}
[data-theme="dark"] {
  --color: rgba(255,255,255,0.85);
  --background: #0c0c0c;
  --border: #3d3d3d;
  --transparent: transparent;
  --opacity-color: rgba(255,255,255,0.5);
  --opacity-bg: rgba(0,0,0,0.7);
  --box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
  --box-shadow-inset: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.8);
  --smoll-box-shadow: 0px 5px 10px 2px rgba(47, 47, 47, 0.2);
  --smoll-box-shadow-inset: inset 0 2px 10px 0 rgba(0, 0, 0, 0.8);
  --tiny-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  --checkbox-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  --checkbox-shadow-inset: inset 0px 2px 5px rgba(0, 0, 0, 0.8);
  --checkbox-shadow-checked: 0px -2px 5px rgba(0, 0, 0, 0.8);
  --subcolor: #657ef8;
  --thumb-bg: rgba(0, 0, 0, 0.25);
  --thumb-border: 4px solid transparent;
  --thumb-hover-bg: #e1e1e1;
  --hr-bg: #3d3d3d;
  --header-bg: #1b1b1b;
  --header-border: #101010;
  --header-btns-bg: #444444;
  --progbar-shadow: 0px 0px 100px #0c0c0c;
  --subcolor-opacity: rgba(101, 126, 248, 0.5);
  --interact-color: #00C864;
  --import-error: #ff4444;
  --text-shadows: #000000;
  --hbt-text: '🌙';
  --icon: url("../../textures/icon_light.png");
}